__pycache__/
.venv/
.env
node_modules/
dist/
**/.DS_Store
frontend/.next/
frontend/out/
backend/.mypy_cache/
backend/.ruff_cache/
pgdata/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
evaluations/data/fruit-trade-data.csv
evaluations/data/IMF/dataset_2025-10-30T20_22_17.768806999Z_DEFAULT_INTEGRATION_IMF.STA_BOP_21.0.0.csv
